body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 25px;
}

.container {
    xmin-width: 900px;
}

.pacote {
    position: relative;
    overflow: auto;
}

#topo, #lateral, #rodape, #menuitem {
    border-radius: 5px;
    margin: 5px;
}

#topo {
    background-color: #04AA6D;
    color: #ffffff;
    padding: 15px;
}

#menu {
      width: 200px;
    floar: left;
}

#conteudo {
    padding: 10px;
    margin: 0 210px;
}

#lateral {
    background: color #d4d4d4;
    color:#ffffff;
    text-align: center;
    padding: 10px;
    width: 180px;
    bottom: 0;
    top: 0;
    right: 0;
    position:absolute;
}

#rodape {
    border: 1px solid #d4d4d4
    background-color:#d14836
    text-aling: center;
    front-size: 14px;
}

#topo h1, #top p, #menuista{
    margin: 0;
    padding: 0;
}

#menuitem {
    width: 175px;
    background-color: #d14836;
    border: 1px solid #d14836;
    list-style-type: nome;
    padding: 5px;
    cursor: pointer;
}

.menuitem:hover{
    background-color: #ffffff;
}

.menuitem:first-child{
    background-color: #04AA6D;
    color:white;
    font-weight: bold;
}

a{
    color:black;
    text-decoration: underline;

}
a:houver{
    text-decoration: nome;
    
}